{% include 'base.html' %}
{% comment %} {% block aboutactive %}{% endblock aboutactive %} {% endcomment %}
{% include 'navigation.html' %}

{% block content %}
<form class="container" action="{% url "details" %}" style='margin-top: 50px;'>
    <h2>Check The Appointment For Specific Time:</h2>
    <input class="form-control my-2" type="date" name='query1' placeholder="Enter The Starting Date:">
    <input class="form-control my-2" type="date" name='query2' placeholder="Enter The Final Date:">
    <button class="btn btn-outline-success my-2" type="submit">Search</button>
</form>

{% endblock content %}