<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Hospital Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link {% block homeactive %}{% endblock homeactive %}" href="{% url "home" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block contactactive %}{% endblock contactactive %}" href="{% url "contact" %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" href="{% url "about" %}">About</a>
        </li>
{% if not request.user.is_staff %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "login" %}">Admin_Login</a>
      </li>
      {% endif %}



      {% if request.user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Doctor
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "view_doctor" %}">View_Doctor</a>
            <a class="dropdown-item" href="{% url 'add_doctor' %}">Add_Doctor</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Status
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "checked_patient" %}">Checked_Patient</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Patient
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "view_patient" %}">View_Patient</a>
            <a class="dropdown-item" href="{% url "add_patient" %}">Add_Patient</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Appointment
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "view_appointment" %}">View_Appointment</a>
            <a class="dropdown-item" href="{% url "add_appointment" %}">Add_Appointment</a>
        </li>
        {% endif %}

        {% if request.user.is_staff %}
           <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}"><i class="fas fa-sign-out-alt mx-2"></i>Admin_Logout</a>
           </li>
          {% endif %}   
          </li>
        </ul>
        
      </ul>
      
    </div>
  </nav>